# PYTHON 3.12.7
# BASE django==5.1.3
# BASE djangorestframework==3.15.2

fastapi==0.115.4
fastapi-cli==0.0.5

fastapi-pagination==0.12.31

uvicorn==0.32.0
uvloop==0.21.0

orjson==3.10.15

tortoise-orm==0.21.7

aiohttp==3.10.10

colorama==0.4.6
click==8.1.7

pydantic==2.10.6
pydantic_core==2.27.2
pydantic-settings==2.6.1

pytz==2024.2

# DB
aiosqlite==0.20.0
asyncmy==0.2.9

# Cache
fastapi-cache2==0.2.2
redis==4.6.0

# Auth
pyjwt==2.10.1
bcrypt==4.2.1
passlib==1.7.4
python-multipart==0.0.19

# Xcaptcha
cryptography==44.0.0

# Cache
async-lru==2.0.4

# Register
etcd3-py==0.1.6

# Migrate
sqlglot==26.10.1
sqlglotrs==0.4.0

# Dev
mypy==1.13.0
types-pytz==2024.2.0.20241221